.user__photo {
  width: 12.5rem;
  border-radius: 1rem;
}

.display__none {
  display: none;
}
.user__button {
  padding: 0.3rem;
  background-color: #7e74f1;
  margin: 0.3rem;
  border-radius: 0.3rem;
  color: #f3f3f3;
}

.selector__page {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0px 0.2rem;
}
.pages {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2.5rem, auto));
}
.users__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  row-gap: 1rem;
	column-gap: 0.5rem;
}
