.postsBlock {
	padding: 0.6rem;
}

.posts {
	padding-top: 0.6rem;
	display: grid;
	/* justify-content:center; */
	/* align-items: center; */
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}