.App-link {
  color: #61dafb;
}

.header {
  grid-area: h;
  background: #7e74f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 0px 1rem;
}
.header img {
  max-width: 2rem;
}
