.nav {
  grid-area: n;
  background: #7e74f1;
  left: 100%;
  border-radius: 0.5rem;
}

ul {
  padding-left: 0;
  padding-top: 3.7rem;
}

.item {
  list-style-type: none;
  line-height: 180%;
  &:last-child {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

.item a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 1.2rem;
}

a.active {
  font-size: 1.6rem;
  color: #232e35;
  font-weight: 500;
  padding-left: 1rem;
}
