body {
  background: #654;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0.25rem;


}

.app-wrapper-content {
  background: #f5f5dc;
  border-radius: 0.5rem;
}
.app-wrapper-content-inside {
  background: #f5f5dc;
  border-radius: 0.5rem;
  min-height: 100vh;
}

